PhnRec/phnrec
PhnRec/test*.rec
PhnRec/test*.rec.bak
PhnRec/PHN_HU_SPDAT_LCRC_N1500/weights/*.nbin

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
